body {
    font-family: Verdana, sans-serif;
    background-color: rgb(144, 255, 253);;
    color: #333;
    text-align: center;
}

/* Logo animado */
.logo img {
    width: 790px;
    animation: growShrink 5s ease-in-out infinite;
}

@keyframes growShrink {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


.selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


button img {
    width: 80px;
    height: auto;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.titulo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 14px;
}

.portadas {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.level-image {
    width: 380px;
    height: auto;
    border: 2px solid gray;
    filter: grayscale(100%);
    transition: all 1.5s ease;
}

/* Imagen seleccionada */
.level-image.selected {
    filter: grayscale(0%);
    border: 5px solid red;
    transform: scale(1.15);
}

.level-image:hover {
    cursor: pointer;
    filter: grayscale(20%);
}

.NivelDescripcion {
    background-color: #15cc40;
    padding: 20px;
    border-radius: 25px;
    width: 60%;
    margin: 0 auto;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.menu-button {
    margin-top: 20px;
}

.menu-button button {
    padding: 10px;
    font-size: 18px;
    background-color: #15cc40;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.menu-button button:hover {
    background-color: #0d9f2f;
}
